<div class="container-fluid">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Cursos", app_institutions_branch_courses_path(@branch) %></li>
            <li class="breadcrumb-item"><%= link_to @course.name, app_institutions_branch_course_path(@branch, @course) %></li>
            <li class="breadcrumb-item active"><%= @unit.name %></li>
          </ol>
        </nav>
        <button type="button" name="button" class="lean-button purple-blue-hs-text" onclick="enableElement('#unit_kind','#save_unit_button');">
          <i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Clique aqui para editar"></i>
        </button>
      </div>
      <div class="card-body">
        <%= simple_form_for @unit, url: app_institutions_branch_course_unit_path(@branch,@course,@unit), method: :put do |f| %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h3>Informações de identificação</h3>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Código da disciplina</label>
                  <%= f.input :code, label: false, required: true, placeholder: "", disabled: true, input_html: { class: 'form-control' } %>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Nome da disciplina</label>
                  <%= f.input :name, label: false, required: true, placeholder: "", disabled: true, input_html: { class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Tipo da disciplina</label>
                  <%= f.input :kind, label: false, required: true, collection: { "Teórico": "theoretic", "Prático": "practical" }, disabled: true, input_html: { class: 'form-control' } %>
                </div>
              </div>
              <div class="col-6">
                <%= f.input :branch_id, as: :hidden %>
                <%= f.input :course_id, as: :hidden %>
                <%= f.submit 'Salvar', class: 'btn btn-primary float-right mt-2 mb-2 d-none', id: 'save_unit_button' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
