<div class="container-fluid">
  <div class="col-12 mx-auto">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Professores', app_institutions_teachers_path %></li>
            <li class="breadcrumb-item active">Novo Professor</li>
          </ol>
        </nav>
      </div>
      <div class="card-body">
        <%= simple_form_for @teacher, url: app_institutions_teachers_path, method: :post do |f| %>
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-12">
                <h3>Informações de identificação</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Nome completo</label>
                  <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>CPF</label>
                  <%= f.input :tax_id, label: false, input_html: { class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="row mb-2 mt-2">
              <div class="col-12">
                <h3>Informações pessoais</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>Número de telefone</label>
                <%= f.input :cellphone, label: false, placeholder: "(XX) XXXXX-XXXX" %>
              </div>
              <div class="col-6">
                <label>Data de nascimento</label>
                <%= f.input :birthdate, label: false, placeholder: "DD/MM/AAAA", order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year - 120 %>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.simple_fields_for :user do |p| %>
                  <%= p.input :email %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%= f.input :institution_id, as: :hidden %>
                <%= f.submit 'SALVAR', class: 'btn btn-primary float-right mt-2 mb-2' %>
                <%= link_to "CANCELAR", app_institutions_teachers_path, class: 'btn btn-outline-danger float-right m-2' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
